header{
    width: 100%;
}
.nav_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_header p{
    font-size: 3em;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    margin-left: 2em;
}

.nav_header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.nav_header ul li{
    list-style: none;
    margin-right: 2em;
}
.nav_header ul a{
    text-decoration: none;
    color: gray;
    font-size: 1.3em;
    font-family:"Inter", sans-serif;
}
.nav_header ul a:hover{
    color: black;
}