main{
    width: 100%;
    min-height: 100vh;
}
.seccion_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.seccion_banner h1{
    color: white;
    font-size: 5em;
    text-align: center;
    font-family:"Inter", sans-serif;
}