.seccion_servicios{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    padding: 6em;
    gap:3em;
}
.seccion_servicios .servicio{
    width: 100%;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: 1fr;
    gap: 5em;
}
.seccion_servicios .servicio .cont_img{
    width: 20em;
    height: 20em;
}
.seccion_servicios .servicio .cont_img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.cont_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-top: 1em;
}
.seccion_servicios .servicio .cont_info h3{
    font-family:"Inter", sans-serif;
    font-size: 2.5em;
}
.seccion_servicios .servicio .cont_info p{
    font-family:"Inter", sans-serif;
    font-size: 1.5em;
} 
.seccion_servicios .servicio .cont_info button{
    font-family:"Inter", sans-serif;
    font-size: 1.5em;
    width: min-content;
    padding: 0.4em;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 0px;
} 

