*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: "Open Sans", sans-serif;
    
}
header , footer{
    max-width: 100%;
    height: 60px;
    background-color: black;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: black;
}
section{
    width: 100%;
    height: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
     margin-left: 20px;
    
}
.logo img{
    width: 100%;
}
.cont_links_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    width: 30em
}
.cont_links_nav .link_nav{
    text-decoration: none;
    color: white;
    padding: 5px;

}

.seccion_inicio{
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    background-color: #1e1e1e;
    justify-items: center;
    align-items: center;
}
.cont_logo{
    width: 15em;
    top: 1em;
    left: 30em;
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    
}
.cont_logo img{
    width: 100%;

}
.seccion_inicio .cont_img_slider_inicio{
    width: 60em;
    height: 30em;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    
}

.cont_img_slider_inicio img{
    width: 100%;
    position: relative;
}
.swiper-slide{
    width: 100% ;
    margin-right: 0; 
}


.submenu {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    padding: 10px;
    top: 26px;
    z-index: 1;
    
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.menu:hover{
    background-color: #1e1e1e;

}
.menu:hover .submenu {
    display: block;
    
}
.cont_sub_links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.sub_link_maquinas{
    color: white;
    text-decoration: none;
}
.cont_texto{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.cont_texto_img{
    width: 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}
.cont_texto_img div{
    width: 7em;
}
.cont_texto_img div img{
    width: 100%;
}
.cont_texto_img p{
    font-size: 1.1em;
    color: white;
}
.cont_nav{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;

}
.cont_redes{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.cont_redes i{
    font-size: 1.8em;
    transition: transform 1s;
    color: white;
}
.cont_redes i:hover{
    transform: scale(1.2);
 
}
.cont_derechos{
    width: 100%;
    text-align: center;
    align-self: center;
}
.cont_datos_contacto{
    width: 100%;
    text-align: center;
}
.cont_derechos, .cont_datos_contacto{
    font-size: 0.8em;
}